.Cropper {
  position: relative;
}

.img {
  user-select: none;
  transform: translateZ(0);
  perspective: 1000;
  backface-visibility: hidden;
}

.clone {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
}

.frame {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  display: none;
}

.source {
  overflow: hidden;
}

.modal {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0.25;
  background: #000000;
  cursor: crosshair;
}

.move {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  cursor: move;
  outline: 1px dashed #ff0000;
  transform: translateZ(0);
}

.uncropped * {
  cursor: crosshair;
}

.cropping * {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}